[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
click = "*"
tqdm = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
twine = "*"

[requires]
python_version = "3.6"
